@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 100px;
}

header {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 9999;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

.menu {
  padding-left: 1.5rem;
}

.menu a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.menu .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border: 2px;
}

.menu .bar::before, .menu .bar::after {
  content: '';
  position: absolute;
  transform: translateX(-50% );
  left: 50%;
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
}

.menu .bar::before {
  top: -4.5px;
}

.menu .bar::after {
  top: 4.5px;
}

main {
  background-color: #353;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}