@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #0b372dbb;
}

.logo {
  font-weight: 100;
  font-size: 2rem;
}

header {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 9999;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

.menu {
  padding-left: 1.5rem;
}

.menu a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.menu .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border: 2px;
}

.menu .bar::before, .menu .bar::after {
  content: '';
  position: absolute;
  transform: translateX(-50% );
  left: 50%;
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
}

.menu .bar::before {
  top: -4.5px;
}

.menu .bar::after {
  top: 4.5px;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
  user-select: none;
  transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

.bg-img {
  position: absolute;
  z-index: 1;
  width: 2800px;
  top: calc(50% - 390px);
  left: calc(50% + 10px);
}

.fog-7 {
  position: absolute;
  z-index: 2;
  width: 1900px;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
}

.mountain-10 {
  position: absolute;
  z-index: 3;
  width: 870px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
}

.fog-6 {
  position: absolute;
  z-index: 4;
  width: 1833px;
  top: calc(50% + 95px);
  left: calc(50% + 7px);
}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 463px;
  top: calc(50% + 119px);
  left: calc(50% - 457px);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 786px;
  top: calc(50% + 96px);
  left: calc(50% - 202px);
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 449px;
  top: calc(50% + 171px);
  left: calc(50% + 29px);
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 515px;
  top: calc(50% + 134px);
  left: calc(50% + 305px);
}

.text {
  position: absolute;
  z-index: 9;
  width: 892px;
  top: calc(50% - 130px);
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  pointer-events: auto;
  user-select: auto;
}

.text h2 {
  font-weight: 100;
  font-size: 6.5rem;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 0.88;
}

.mountain-6 {
  position: absolute;
  z-index: 10;
  width: 383.5px;
  top: calc(50% + 86.5px);
  left: calc(50% + 590px);
}

.fog-4 {
  position: absolute;
  z-index: 11;
  width: 543px;
  top: calc(50% + 242px);
  left: calc(50% - 64px);
}

.mountain-5 {
  position: absolute;
  z-index: 12;
  width: 583px;
  top: calc(50% + 269px);
  left: calc(50% + 130px);
}

.fog-3 {
  position: absolute;
  z-index: 13;
  width: 1435px;
  top: calc(50% + 149px);
  left: calc(50% - 28px);
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  width: 717px;
  top: calc(50% + 221px);
  left: calc(50% - 381.5px);
}

.mountain-3 {
  position: absolute;
  z-index: 15;
  width: 419px;
  top: calc(50% + 133px);
  left: calc(50% + 736px);
}

.fog-2 {
  position: absolute;
  z-index: 16;
  width: 1418px;
  top: calc(50% + 177px);
  left: calc(50% - 30px);
}

.mountain-2 {
  position: absolute;
  z-index: 17;
  width: 625px;
  top: calc(50% + 188px);
  left: calc(50% + 412px);
}

.mountain-1 {
  position: absolute;
  z-index: 18;
  width: 450px;
  top: calc(50% + 91.5px);
  left: calc(50% - 601px);
}

.sun-rays {
  position: absolute;
  z-index: 19;
  width: 595;
  top: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
}

.black-shadow {
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
}

.fog-1 {
  position: absolute;
  z-index: 21;
  width: 1600px;
  top: calc(100% - 355px);
  left: 50%;
}

.vingette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba (0, 0, 0, 0.7));
  pointer-events: none;
  user-select: none;
}